/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABEL WARNA */
:root {
    --primary: #facc15;
    --primary-dark: #facc15;
    --soft-bg: #ffffff;
    --border: #333;
    --text-dark: #333;
    --text-soft: #666;
    --page-bg: #333;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--page-bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-dark);
}

/* CHECKOUT BOX */
.checkout-box {
    background: #fff;
    width: 420px;
    padding: 26px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    border-top: 5px solid var(--primary);
}

/* JUDUL */
.checkout-box h2 {
    text-align: center;
    margin-bottom: 18px;
    color: var(--primary);
    font-weight: 700;
}

/* RINGKASAN */
.ringkasan {
    background: var(--soft-bg);
    border: 1px solid var(--border);
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ringkasan p {
    font-size: 14px;
    margin-bottom: 6px;
    color: var(--text-dark);
}

/* FORM */
form label {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
    color: var(--text-soft);
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 11px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    transition: border 0.3s;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: var(--primary);
}

/* TEXTAREA */
form textarea {
    resize: none;
    height: 90px;
}

/* BUTTON */
form button {
    width: 100%;
    padding: 13px;
    background: var(--primary);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: var(--primary-dark);
}

.btn-group {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.btn-pesan {
    flex: 1;
}

.btn-batal {
    flex: 1;
    text-align: center;
    padding: 13px;
    background: #565656;
    color: #444;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-batal:hover {
    background: #d4d4d4;
}


/* RESPONSIVE */
@media (max-width: 480px) {
    .checkout-box {
        width: 94%;
        padding: 22px;
    }
}
