* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #f5f5f5;
    padding-bottom: 120px;
}

/* HEADER */
.cart-header {

    background: #111;
    color: #facc15;
    padding: 16px 25px;
    font-size: 20px;
    font-weight: 700;
}

/* TOMBOL KEMBALI */
.btn-kembali {
    display: inline-block;
    margin: 15px 20px;
    padding: 10px 20px;
    background-color: #111;
    color: #facc15;
    border-radius: 25px;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s ease;
}

.btn-kembali:hover {
    background-color: #facc15;
    color: #111;
}

/* CONTAINER */
.cart-wrapper {
    max-width: 900px;
    margin: 20px auto;
}

/* ITEM */
.cart-item {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 3px 8px rgba(0,0,0,.08);
    animation: fadeUp .4s ease;
}

@keyframes fadeUp {
    from { opacity: 0; transform: translateY(15px); }
    to   { opacity: 1; transform: translateY(0); }
}

.item-info h3 {
    font-size: 16px;
    margin-bottom: 6px;
}

.harga {
    color: #ee4d2d;
    font-weight: 700;
    margin-bottom: 6px;
}

.detail {
    font-size: 13px;
    color: #555;
    margin-bottom: 6px;
}

.detail span {
    display: block;
}

.tanggal {
    font-size: 11px;
    color: #888;
}

.btn-hapus {
    color: #ee4d2d;
    font-size: 13px;
    text-decoration: none;
}

.btn-hapus:hover {
    text-decoration: underline;
}

/* FLOATING TOTAL */
.cart-total {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -4px 15px rgba(0,0,0,.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    z-index: 999;
}

.cart-total .total {
    font-size: 18px;
    font-weight: 700;
}

.cart-total .total span {
    color: #ee4d2d;
}

.btn-checkout {
    background: #facc15;
    color: #111;
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
}

/*gambar*/

.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
}

.item-img {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.item-info h3 {
    font-size: 16px;
    margin-bottom: 6px;
}

.harga {
    color: #ee4d2d;
    font-weight: 700;
    margin-bottom: 5px;
}

.btn-hapus {
    margin-left: auto;
    color: #ee4d2d;
    text-decoration: none;
    font-size: 18px;
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .cart-item {
        flex-direction: column;
        gap: 10px;
    }
}
